---
layout: default
---
<style>
    
    .item-list {
        list-style-type: disc; 
        padding-left: 5px;
    }
    .item-list li {
        margin-bottom: 5px; /* Space between items */
    }
    .person-circle {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .person-circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-align: center;
    }

    .person-text {
        margin-top: 5px;
        font-size: 12px;
        text-align: left; 
        hyphens: auto; 
        word-break: break-word;
        overflow-wrap: break-word; 
    }   

    .person-container {
        margin: 0px 0;
    }

    .person-link {
        text-decoration: none;
        color: #007bff;
        transition: color 0.3s;
    }

    /* Styles for mobile screens (less than 768px) */
    @media (max-width: 767px) {
        .person-circle {
            width: 110px;
            height: 110px;
        }

        .person-text {
            font-size: 14px;
        }
    }

    /* Additional Styles for larger screens (992px and up) */
    @media (min-width: 992px) {
        .person-container {
            margin-bottom: 20px;
            /* Adjust the spacing between rows */
        }
    }
</style>


<body>
    <h1>{{ page.title }}</h1>
    <div>
    <!-- I am fourtunate that I get to work with amazing people.
        <ul class="item-list">
            <li>At MBZUAI, I worked with Dr. Rao, Dr. Salman Khan, Dr. Fahad, Dr. Hisham at MBZUAI,</li>
            <li>Dr. Lingjuan and Dr. Weiming at Sony AI, Dr. Fengwei, Dr. Chuanlong, Dr. Zhenguo, and Prof. Luo at Huawei,</li>
            <li>Prof. Sung-Ho for Ph.D. supervision,</li>
            <li>Dr. Ali and Dr. Usama at ITU</li>
        </ul>
    </div> -->
    <p>
       I am fortunate to have had the opportunity to work with incredible supervisors, collaborators, students, and colleagues. Below is a non-exhaustive list.
    <ul>
        <li>At MBZUAI:  Dr. Fahad, Dr. Rao, Dr. Salman Khan, Dr. Muzzamal,and Dr. Hisham</li>
        <li>At Sony AI: <a href="https://sites.google.com/view/lingjuan-lyu/home">Dr. Lingjuan</a> and <a href="https://weiming.me">Dr. Weiming</a></li>
        <li>At Noah's Ark Lab, Huawei: Dr. Fengwei, <a href="https://scholar.google.com/citations?user=_fgE3u8AAAAJ&hl=en">Dr. Chuanlong</a>, <a href="https://scholar.google.com/citations?user=XboZC1AAAAAJ&hl=en">Dr. Zhenguo</a>, and <a href="https://scholar.google.com.hk/citations?user=aXdjxb4AAAAJ&hl=en">Prof. Luo</a></li>
        <li>At KHU: Salman, Muqeet, and <a href="https://scholar.google.co.kr/citations?user=EULut5oAAAAJ&hl=ko">Prof. Sung-Ho</a></li>
        <li>At ITU: <a href="https://fahadshamshad.github.io">Fahad</a>, <a href="https://www.linkedin.com/in/axium/">Asim</a>, <a href="https://itu.edu.pk/faculty-itu/dr-ali-ahmed/">Dr. Ali</a>, and <a href="http://usamabinsikandar.weebly.com/teaching.html">Dr. Usama</a></li>
    </ul> 
    </p>

    <h4>Students</h4>
    <br>
    <div class="container">
        <div class="row">
            {% for person in site.data.students %}
            <div class="col-6 col-md-4 col-lg-3 person-container text-center">
                <div class="person-circle">
                    <img src="{{ person.img }}" alt="{{ person.name }}">
                </div>
                <div>
                    <a class="person-link" href="{{ person.link }}">{{ person.name }}</a>
                    <p class="person-text"> {{ person.text }} </p>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>